/* styles.css */

.divPai {
    background-color: #fc0000;
    width: 1700px;
    height: 400px;
}

.divFilho {
    background-color: #32CD32;
    width: 80%;
    height: 60%;
}

.texto {
    color: white;
    background-color: #4169E1;
    font-size: 28px;
    text-align: center;
    padding: 20px;
}

.divMae {
    width: 90%;
    height: 50vh;
    background-color: rgba(255, 165, 0, 0.7);
}

.divFilha {
    width: 80vw;
    height: 80%;
    background-color: rgba(8, 0, 8, 0.7);
}